Hypotheses

1. More symptoms present in F than M
2. Vaccines are more deadly in older patients
3. People who received more than one shot were more prone to have adverse effects
4. Pfizer is associated with higher symptoms
5. Certain lots/states associated with symptoms

In [1]:
from functions import query_to_df

In [2]:
select_event_data_sql = "SELECT * FROM event_data"
event_data_df = query_to_df(select_event_data_sql)
event_data_df

,VAERS_ID,STATE,AGE_YRS,SEX,DIED,L_THREAT,HOSPITAL,DISABLE,RECOVD,VAX_DATE,BIRTH_DEFECT
0,902418,NJ,56.0,0,0,0,0,0,1,12/15/2020,0
1,902440,AZ,35.0,0,0,0,0,0,1,12/15/2020,0
2,902446,WV,55.0,0,0,0,0,0,1,12/15/2020,0
3,902464,LA,42.0,1,0,0,0,0,1,12/15/2020,0
4,902465,AR,60.0,0,0,0,0,0,0,12/15/2020,0
...,...,...,...,...,...,...,...,...,...,...,...
19571,931068,OH,36.0,0,0,0,0,0,1,01/07/2021,0
19572,931070,IN,29.0,0,0,0,0,0,1,01/07/2021,0
19573,931071,CO,66.0,0,0,0,0,0,0,12/26/2020,0
19574,931072,NY,41.0,0,0,0,0,0,0,12/31/2020,0
19575,931073,NY,33.0,1,0,0,0,0,1,12/28/2020,0

In [5]:
event_vax_data_sql = """
SELECT *
FROM event_data AS e
LEFT JOIN sample_vax_data AS v
ON e.VAERS_ID = v.VAERS_ID
"""
event_vax_data_df = query_to_df(event_vax_data_sql)
event_vax_data_df

,VAERS_ID,STATE,AGE_YRS,SEX,DIED,L_THREAT,HOSPITAL,DISABLE,RECOVD,VAX_DATE,BIRTH_DEFECT,VAERS_ID,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES
0,902418,NJ,56.0,0,0,0,0,0,1,12/15/2020,0,902418.0,PFIZER\BIONTECH,EH9899,1
1,902440,AZ,35.0,0,0,0,0,0,1,12/15/2020,0,902440.0,PFIZER\BIONTECH,EH9899,1
2,902446,WV,55.0,0,0,0,0,0,1,12/15/2020,0,902446.0,PFIZER\BIONTECH,EH9899,1
3,902464,LA,42.0,1,0,0,0,0,1,12/15/2020,0,902464.0,,,
4,902465,AR,60.0,0,0,0,0,0,0,12/15/2020,0,902465.0,PFIZER\BIONTECH,EH9899,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19574,931068,OH,36.0,0,0,0,0,0,1,01/07/2021,0,NaN,None,None,None
19575,931070,IN,29.0,0,0,0,0,0,1,01/07/2021,0,NaN,None,None,None
19576,931071,CO,66.0,0,0,0,0,0,0,12/26/2020,0,NaN,None,None,None
19577,931072,NY,41.0,0,0,0,0,0,0,12/31/2020,0,NaN,None,None,None
19578,931073,NY,33.0,1,0,0,0,0,1,12/28/2020,0,NaN,None,None,None